.narrative {
   display: none;
}
@media screen and (min-width: 1200px){

.narrative {
   padding-top: 47px;
   padding-bottom: 94px;
   &__head {
   margin-bottom: 50px;
}
   &__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
   &__list-item {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-basis: calc(100% / 3 - var(--nararative-margin-left));
}
}
}