.form {
   display: block;
   height: auto;
   @media screen and (max-width: 767px) {
   width: 100%;
   }
   &__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15px;
   text-align: center;
   color: var(--title-text-color);
   margin-bottom: 15px;
   @media screen and (min-width: 768px) {
   line-height: 1.15;
   }
   }
}

.form-field {
   margin-bottom: 10px;
   &__input-text {
   font-size: 12px;
   margin-bottom: 4px;
   display: block;
   }
}  

.wrapper {
   position: relative;
   &__input {
   width: 100%;
   height: 40px;
   padding: 14px 14px 14px 42px;
   border-radius: 4px;
   border: 1px solid var(--social-svg-color);
   padding-left: 40px;
   outline: none;
}
   &__icon {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
}
   &__text {
   width: 100%;
   height: 120px;
   border-radius: 4px;
   border: 1px solid var(--social-svg-color);
   padding: 15px;
   resize: none;
}
   &__input:focus,
   &__text:focus{
   border-color: var(--hover-color);
}
   &__input:focus + &__icon {
   fill: var(--hover-color);
}
   &__input::placeholder,
   &__text::placeholder{
   font-size: 14px;
   color: rgba(117, 117, 117, 0.5);
   line-height: 16px;
   letter-spacing: 0.01em;
   }
}

.input-check{
   &__text {
   display: flex;
   width: 100%;
   cursor: pointer;
   align-items: center;
}
   &__text div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 16px;
   height: 16px;
   border: 2px solid #090b13;
   border-radius: 2px;
   margin-right: 7px;
}
   &__box:checked + &__text div {
   background-color:#18a0fb;
   border: none;
}
   &__icon {
   fill: #ffffff;
   }
}

.policy{
   display: flex;
   align-items: center;
   height: 15px;
   &__text {
   font-size: 12px;
   line-height: 1.15;
   cursor: pointer;
   color: #757575;
   max-height: 15px;
   @media screen and (min-width: 1200px) {
   font-size: 14px;
   line-height: 1.71;
   }
   }
   &__link {
   font-size: 12px;
   line-height: 1.15;
   color: var(--hover-color);
   text-decoration: underline;
   max-height: 15px;
   @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
      }
}
   &__icon {
   text-decoration: none;
   }
}

.form-button {
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   padding: 10px 55px;
}
