.modal {
   height: auto;
   position:relative;
   top: 50%;
   left: 50%;
   padding: 40px;
   background-color: #fff;
   border-radius: 4px;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 550ms var(--timing-function);
   @media screen and (min-width: 768px) {
   padding: 25px;
   }
   &__close{
   cursor: pointer;
   position: absolute;
   top: 8px;
   right: 8px;

   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.1);
}
   &__close:hover {
   color: var(--button-background-color);
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
   border-color: var(--hover-color);
}
   &__icon{
   width: 11px;
   height: 11px;
   }
   @media screen and (max-width: 320px) {
      padding: 25px;
   }
   @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 450px;
      height: auto;
      transform: translate(-50%, -50%) scale(1);
   }
   @media screen and (min-width: 1200px) {
      min-width: 528px;
      min-height: 581px;
   }
}

.backdrop.is-hidden .modal {
   transform: translate(-0%, -100%) scale(0.2);
   transition: transform 550ms var(--timing-function);
}

