body {
   background-color: var(--primary-background-color);
   color: var(--title-text-color);
   font-family: var(--basic-side-found), sans-serif;
   letter-spacing: 0.03em;
   font-size: 18px;
   line-height: 1.67;
}